<div class="containerInfo">
  <div class="containerInfo__card" routerLink="/writers">
    <div class="containerInfo__card-name">
      <h2>{{ writer?.nombre }}, {{ writer?.apellidos }}</h2>
    </div>
    <div class="containerInfo__card-picture">
      <img src="{{ writer?.imagen }}" alt="Escritor {{ writer?.nombre }}" />
    </div>
    <div class="containerInfo__card-country">
      <p>{{ writer?.pais }}</p>
    </div>
  </div>
  <div class="containerInfo__books">
    <router-outlet></router-outlet>
  </div>
  <button
    type="button"
    class="containerInfo__button"
    routerLink="/writers/{{ writer?.id }}/books"
  >
    Ver Libros
  </button>
</div>
